[submodule "media"]
	path = media
	url = git@github.com:proycon/homeautomation-media/
[submodule "programs/433send"]
	path = programs/433send
	url = git@github.com:proycon/433mhzforrpi
[submodule "programs/nfc-daemon"]
	path = programs/nfc-daemon
	url = git@github.com:proycon/nfc-daemon
