[Unit]
Description=Lighthome
After=network-online.target

[Service]
Type=simple
User=%i
ExecStartPre=/bin/sleep 10
ExecStart=/home/homeautomation/lighthome/$(HOSTNAME).sh

[Install]
WantedBy=multi-user.target

